In [29]:
import pandas as pd
import numpy as np

# pandas와 numpy

# Series와 DataFrame

# 데이터 살펴보기

In [37]:
# pd.read_csv("경로/파일이름.확장자")
data = pd.read_csv("data/kusitms.csv")

In [38]:
# data.head()
data.head()
# data.tail()

   ID 학술제파트   직책 성별  나이  연애  스터디  카톡방   지역
0   1    개발  운영진  남  25   0    1  420   강북
1   2    개발   회원  여  23   0    0   10   강남
2   3   디자인   회원  여  21   0    2   22   강북
3   4    개발   회원  남  24   0    1   31  NaN
4   5    기획   회원  여  23   1    4   17  NaN

In [39]:
data.shape

(80, 9)

In [40]:
# data.info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 9 columns):
ID       80 non-null int64
학술제파트    80 non-null object
직책       80 non-null object
성별       80 non-null object
나이       80 non-null int64
연애       80 non-null int64
스터디      80 non-null int64
카톡방      80 non-null int64
지역       7 non-null object
dtypes: int64(5), object(4)
memory usage: 5.8+ KB

In [41]:
# data.describe()
data.describe()

            ID         나이         연애        스터디         카톡방
count  80.0000  80.000000  80.000000  80.000000   80.000000
mean   40.5000  23.212500   0.212500   1.537500   65.625000
std    23.2379   1.429293   0.411658   1.211169  124.844954
min     1.0000  20.000000   0.000000   0.000000    0.000000
25%    20.7500  22.000000   0.000000   1.000000    6.750000
50%    40.5000  23.000000   0.000000   1.000000   17.000000
75%    60.2500  24.000000   0.000000   2.000000   29.500000
max    80.0000  27.000000   1.000000   5.000000  723.000000

In [42]:
import matplotlib as plt
import seaborn as sns

# EDA(탐색적 데이터 분석)

In [43]:
# data.isnull().sum()
# data.fillna('')
data.isnull().sum()

ID        0
학술제파트     0
직책        0
성별        0
나이        0
연애        0
스터디       0
카톡방       0
지역       73
dtype: int64

In [47]:
# data.drop( ,axis=1)
data = data.drop("지역", axis=1)

KeyError: "['지역'] not found in axis"

In [48]:
data.head()

   ID 학술제파트   직책 성별  나이  연애  스터디  카톡방
0   1    개발  운영진  남  25   0    1  420
1   2    개발   회원  여  23   0    0   10
2   3   디자인   회원  여  21   0    2   22
3   4    개발   회원  남  24   0    1   31
4   5    기획   회원  여  23   1    4   17

In [49]:
# data.groupby()
data.groupby("직책")["연애"].sum()

직책
운영진    13
회원      4
Name: 연애, dtype: int64

# 데이터 전처리

In [55]:
# train_test_split

import random
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=7)

In [54]:
x_data = data[ ['나이','스터디','카톡방'] ]
y_data = data['연애']

In [56]:
dt = DecisionTreeClassifier()

In [57]:
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [58]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [59]:
y_pred = dt.predict(x_test)

In [60]:
accuracy_score(y_test, y_pred)

0.8333333333333334

In [9]:
# categorical encoding
# one-hot encoding

In [16]:
# 스케일링과 정규화

# 모델링

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
sum(y_pred == y_test) / len(y_test)